### Data Source
https://github.com/dolph/dictionary/blob/master/popular.txt

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('words.csv', index_col="Word")

In [16]:
df.head()

        Value  Char Count
Word
aa          2           2
aah        10           3
aahed      19           5
aahing     40           6
aahs       29           4

In [25]:
df.describe()

               Value     Char Count
count  172821.000000  172821.000000
mean      107.754179       9.087628
std        39.317452       2.818285
min         2.000000       2.000000
25%        80.000000       7.000000
50%       103.000000       9.000000
75%       131.000000      11.000000
max       319.000000      28.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172821 entries, aa to zyzzyvas
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Value       172821 non-null  int64
 1   Char Count  172821 non-null  int64
dtypes: int64(2)
memory usage: 8.0+ MB

### Activities

##### How many elements does this dataframe have?

In [17]:
df.shape[0]

172821

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172821 entries, aa to zyzzyvas
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Value       172821 non-null  int64
 1   Char Count  172821 non-null  int64
dtypes: int64(2)
memory usage: 4.0+ MB

##### What is the value of the word `microspectrophotometries`?

In [22]:
df.loc['microspectrophotometries', 'Value']

317

##### What is the highest possible value of a word?

In [23]:
df['Value'].max()

319

##### Which of the following words have a Char Count of `7` and a Value of `87`?
"pinfish","glowing","enfold","microbrew"

In [30]:
df[(df['Char Count'] == 7) & (df['Value'] == 87)]

         Value  Char Count
Word
abutter     87           7
acutely     87           7
adjuror     87           7
alchymy     87           7
alkynes     87           7
...        ...         ...
witches     87           7
wooding     87           7
writhed     87           7
zanders     87           7
zillahs     87           7

[500 rows x 2 columns]

In [33]:
df.loc[["pinfish","glowing","enfold","microbrew"]]

           Value  Char Count
Word
pinfish       81           7
glowing       87           7
enfold        56           6
microbrew    106           9

##### What is the highest possible length of a word?

In [34]:
df['Char Count'].max()

28

##### What is the word with the value of `319`?

In [43]:
df.loc[df["Value"] == 319]

                         Value  Char Count
Word
reinstitutionalizations    319          23

##### What is the most common value?

In [49]:
df['Value'].value_counts().head()

Value
93     1965
100    1921
95     1915
99     1907
92     1902
Name: count, dtype: int64

In [47]:
df['Value'].mode()

0    93
Name: Value, dtype: int64

##### What is the shortest word with value `274`?

In [57]:
df.loc[df['Value']==274].sort_values(by=['Char Count'])

                       Value  Char Count
Word
overprotectivenesses     274          20
countercountermeasure    274          21
psychophysiologically    274          21

##### Create a column `Ratio` which represents the 'Value Ratio' of a word

In [59]:
df['Ratio'] = df['Value'] / df['Char Count']
df.head()

        Value  Char Count     Ratio
Word
aa          2           2  1.000000
aah        10           3  3.333333
aahed      19           5  3.800000
aahing     40           6  6.666667
aahs       29           4  7.250000

##### What is the maximum value of `Ratio`?

In [60]:
df['Ratio'].max()

22.5

##### What word is the one with the highest `Ratio`?

In [61]:
df.loc[df['Ratio'] == (df['Ratio'].max())]

      Value  Char Count  Ratio
Word
xu       45           2   22.5

In [63]:
df.sort_values(by='Ratio', ascending=False).head(1)

      Value  Char Count  Ratio
Word
xu       45           2   22.5

##### How many words have a `Ratio` of `10`?

In [67]:
df.loc[df['Ratio'] == 10].shape[0]

2604

In [70]:
df['Ratio'][df['Ratio'] == 10].value_counts()

Ratio
10.0    2604
Name: count, dtype: int64

In [71]:
df.query('Ratio == 10').shape[0]

2604

##### What is the maximum `Value` of all the words with a `Ratio` of `10`?

In [74]:
df['Value'][df['Ratio'] == 10].max()

240

In [76]:
df.query('Ratio == 10').sort_values(by='Value', ascending=False).head(1)

                          Value  Char Count  Ratio
Word
electrocardiographically    240          24   10.0

##### Of those words with a `Value` of `260`, what is the lowest `Char Count` found?

In [78]:
df['Char Count'][df['Value'] == 260].min()

17

In [82]:
df[df['Value'] == 260].sort_values(by='Char Count').head(1)

                   Value  Char Count      Ratio
Word
hydroxytryptamine    260          17  15.294118

##### Based on the previous task, what word is it?

In [84]:
df[df['Value'] == 260].sort_values(by='Char Count').head(1).index[0]

'hydroxytryptamine'

### Find all the words with Char Count greater than Average Char Count

In [83]:
df.loc[df['Char Count'] > df['Char Count'].mean()]

              Value  Char Count      Ratio
Word
aardwolves      120          10  12.000000
abacterial       72          10   7.200000
abandoners       93          10   9.300000
abandoning       81          10   8.100000
abandonment     103          11   9.363636
...             ...         ...        ...
zygomorphies    176          12  14.666667
zygomorphy      168          10  16.800000
zygosities      154          10  15.400000
zygospores      165          10  16.500000
zymologies      146          10  14.600000

[67582 rows x 3 columns]

In [85]:
mean_char_count = df['Char Count'].mean()
mean_char_count

9.087628239623657

In [90]:
df.query('`Char Count` > @mean_char_count')

              Value  Char Count      Ratio
Word
aardwolves      120          10  12.000000
abacterial       72          10   7.200000
abandoners       93          10   9.300000
abandoning       81          10   8.100000
abandonment     103          11   9.363636
...             ...         ...        ...
zygomorphies    176          12  14.666667
zygomorphy      168          10  16.800000
zygosities      154          10  15.400000
zygospores      165          10  16.500000
zymologies      146          10  14.600000

[67582 rows x 3 columns]